page-add-story {

   
ion-toast {
    left: 25%!important;
    top: 25%!important;
    width: 50%!important;
}

ion-toast .toast-md{
    left: 25%!important;
    top: 25%!important;
    width: 50%!important;
}

}
